* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.responsive {
    background-color: cadetblue;
    padding: 10px;
    position: relative;
}

.pc {
    display: none;
}

.menu {
    width: 100%;
    height: 100vh;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
}

.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    list-style: none;
    gap: 20px;
}

.menuarriba {
    transform: translateY(-200%);
    transition: transform 1s;
}

.menuabajo {
    transform: translateY(0);
    transition: transform 1s;
}

i {
    color: white;
    font-size: 30px;
}

li a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    border-bottom: 1px solid white;
    flex: 1 1 100%;
}

.quitar {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: 40px;
}

@media (min-width: 768px) {
    .responsive {
        display: none;
    }
    .pc {
        display: block;
        background-color: cadetblue;
    }
    .pc ul {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        list-style: none;
        border: none;
    }
    .pc ul li {
        position: relative;
        text-align: center;
        flex: 1;
    }
    .pc ul li:hover {
        transform: scale(1.1)
    }
    li a {
        border: none;
    }
    .pc ul li ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
    }
    .pc ul li ul li {
        top: 110%;
        left: 0;
        display: block;
        background: red;
        display: none;
        padding: 10px;
        border-bottom: 1px solid white;
    }
    .pc ul li ul li:hover {
        background-color: rgb(168, 5, 5);
    }
    .pc ul li:hover ul li {
        display: block;
    }
}